@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Press+Start+2P&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer main {
  body{
    @apply bg-black;
  }
}

@layer utilities {
  .drag {
    -webkit-app-region: drag;
    -webkit-user-select: none;
    user-select: none;
  }
  .no-drag {
    -webkit-app-region: no-drag;
  }
}